*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: Arial, sans-serif;
}

h1{
    background-color: #081B31;
    color: white;
    font-size: 4rem;
    height: 5rem;
    line-height: 5rem;
    margin-top: 2rem;

   
    border-radius: 3rem;
    display: inline-block;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;   /* 🔥 important */
    margin-top: 2rem;
}

.choice{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.choice:hover{
    cursor: pointer;
    background-color: #081B31;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#usre_score{
    font-size: 5rem;

}
#comp_score{
    font-size: 5rem;
}

.message-container{
    margin-top: 3rem;
}

#msg{
    margin-top: 3rem;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: inline-block;
    font-size: 2rem;
}




/* 📱 Mobile Responsive */
@media (max-width: 500px){
    .choice{
        height: 90px;
        width: 90px;
    }

    .choices{
        gap: 1rem;
    }
}